<body>
<nav style="display:inline-block;">
    <a routerLink="/home" routerLinkActive="active">HOME</a>
    <a routerLink="/contact" routerLinkActive="active" style="margin-left:40px;">CONTACT</a>
  </nav>
  

<div class="containers">
  <div class="container color-dark">
    <div class="first">
        <p>ADD ToDo Task</p>
    </div>

    <div class="col">
        <p>To do List</p>
    </div>
  </div>

    <div class="col">
      <form>
          <input #myinput type="text" name= "projectname" value="inputs" placeholder="input..."/> <br>
          <button (onclick) = "add(myinput)">ADD</button>
        </form>
    </div>

</div>


<!-- app-home [parentdata]="name"></app-home>-->




<router-outlet></router-outlet>
</body>