body {
    padding:50px;
    background-color: rgb(194, 194, 235);
}

h1 {
    background-color: green;
}

ul li {
    text-decoration-style: none;
    background-color: rgb(172, 148, 103);
}

.container {
    display:grid;
    grid-template-columns: 50% 50%;
    background: lightskyblue;
    height:100px;
    width:100%;
    margin-bottom:30px;
}

button {
    margin-top:5px;
}

nav {
    color:white;
}

nav a  {
    text-decoration: none;
}
