<body>
        <nav style="display:inline-block;">
            <a routerLink="/home" routerLinkActive="active">HOME</a>
            <a routerLink="/contact" routerLinkActive="active" style="margin-left:40px;">CONTACT</a>
          </nav>
          
        
        <div class="containers">
          <div class="container color-dark">
            <div class="first">
                <p>ADD ToDo Task New</p>
            </div>
        
            <div class="col">
                <p>To do List:  {{itemcounter}}</p>
                <ul>
                    <li *ngFor="let item of projects; let i=index" (click)="removeitem(i)">
                        {{item}}
                    </li>
                </ul>
            </div>
          </div>
        
            <div class="col">
              <form>
                  <input type="text" [(ngModel)]="projectext" name="projectext" placeholder="input..."/> <br>
                  <button class="button" (click) = "add()">SUBMIT</button>
                </form>
            </div>
          {{projectext}}

        </div>
        
        
        <!-- app-home [parentdata]="name"></app-home>-->
        
        <div>
            <ul>
                <li *ngFor="let a of user"> {{a.name}}   {{a.lastname}}</li>
            </ul>
        </div>
        
        
        </body>
